@charset "UTF-8";
/**
 * 
 * @authors kong
 * @date    2017-08-25 13:45:23
 * @version $Id$
 */
#content{
	width:400px;
	height:600px;
	margin:0 auto;
	position:relative;
}
.title{
	font-size:30px;
	margin:20px auto;
}
p{
	font-size:18px;
}
a{	
	font-size:22px;
	color:crimson;
	text-decoration:none;
}
#start{
	margin-left:50px;
	margin-top:50px;
	outline:0;
}
.game{
	width:200px;
	height:400px;
	background-color:#F2FAFF;
	box-shadow:0 0 12px gray;
	position:relative;
	float:left;
}
.next{
	width:80px;
	height:80px;
	background-color:#F2FAFF;
	position:relative;
	box-shadow:0 0 12px gray;
	float:left;
	margin-left:40px;
}
.info{
	float:left;
	margin-left:40px;
}
.none,.current,.done{
	width:20px;
	height:20px;
	position:absolute;
	box-sizing:border-box;
}
.none{
	background-color:#F2FAFF;
}
.current{
	background-color: #06B497;
	border:1px solid gray;
}
.done{
	background-color: gray;
	border:1px solid black;
}